n8n/4 & 5. career path & skill gap.json
{
  "name": "4 & 5. career path & skill gap",
  "nodes": [
    {
      "parameters": {
        "content": "### LLM liat dari SQL biasanya skillsnya butuh apa lagi",
        "height": 448,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1840,
        432
      ],
      "typeVersion": 1,
      "id": "96255a7b-8a36-414e-b4df-67956e00aabe",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a senior career advisor.\n\nHere is the CV matching result:\n\n{{$node[\"HTTP Request\"].json}}\n\nBased on the candidate profile and job recommendations above,\ndetermine:\n\n- Top 5 career paths\n- Confidence score (0-100)\n- Reason for each recommendation\n\nReturn JSON only."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1904,
        512
      ],
      "id": "0c6ac6dd-3be3-4299-b203-8f07705d7a0b",
      "name": "Career Path Classification"
    },
    {
      "parameters": {
        "content": "## Gap Analysis",
        "height": 448,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2272,
        432
      ],
      "typeVersion": 1,
      "id": "db7de186-d474-411e-be23-43552065b0e1",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "### Recommend Ambil Sertifikasi dari Database SQL / Data Dummy",
        "height": 448
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2560,
        432
      ],
      "typeVersion": 1,
      "id": "a9e37697-10f6-4382-858e-7b465b397401",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "### Generate Career Roadmap in JSON",
        "height": 448,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2816,
        432
      ],
      "typeVersion": 1,
      "id": "75c34127-ac8d-4e14-b767-57edc708e03e",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a skills gap analyst. Based on the recommended careers below and the candidate's current skills/experience, identify which skills the candidate is lacking for each recommended career path.\n\nCandidate's recommended careers (from previous classification step which recommended TOP 5 Career):\n{{ $json.output }}\n\nFor each recommended career, determine:\n- required_skills: the key skills typically needed for that career\n- existing_skills: skills the candidate already has, matched from their profile\n- missing_skills: the gap, each with a priority (High/Medium/Low) based on how critical it is\n\nRespond with JSON only, no explanation, no markdown code fences. Example:\ncareer_data = {\n    \"current\": {\n        \"title\": \"KAMU\",\n        \"jobs\": [\"Data Analyst\", \"Data Engineer\", \"Analyst Intern\"],\n        \"count\": 12,\n        \"gap\": [\"sql\", \"python\"]\n    },\n    \"mid\": {\n        \"title\": \"MID LEVEL\",\n        \"jobs\": [\"Analyst Officer\", \"CRM Specialist\"],\n        \"count\": 19,\n        \"gap\": [\"tableau\", \"statistics\"]\n    },\n    \"senior\": {\n        \"title\": \"SENIOR\",\n        \"jobs\": [\"Senior Scientist\", \"Lead Analyst\"],\n        \"count\": 16,\n        \"gap\": [\"analytics\"]\n    }\n}\n\nadd a different schema for how much token you used",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2288,
        512
      ],
      "id": "de6eec2f-e4d6-4c99-80f9-37daf2d3836b",
      "name": "Gap Analysis"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2288,
        720
      ],
      "id": "9e26d764-7b33-4242-91b8-5b8b2686845f",
      "name": "Gap Analysis Model",
      "credentials": {
        "openAiApi": {
          "id": "NYiiRxFJrsrOU4tg",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a learning advisor.\n\nGiven the skill gap analysis below:\n\n{{ $json.output }}\n\nFor each missing skill:\n\n1. Prioritize skills with \"High\" priority before Medium and Low.\n2. Use the \"Select Certifications from MySQL\" tool to retrieve relevant certifications.\n3. If the database has no suitable certification, recommend a well-known legitimate certification from providers such as Coursera, Google, Microsoft Learn, DQLab, or Dicoding and set \"source\" to \"external\".\n4. Return JSON only.\n5. Do not include explanations or markdown.\n\nSchema:\n\n{\n  \"recommendations\": [\n    {\n      \"skill\": \"SQL\",\n      \"priority\": \"High\",\n      \"courses\": [\n        {\n          \"title\": \"...\",\n          \"provider\": \"...\",\n          \"url\": \"...\",\n          \"free\": true,\n          \"source\": \"database\"\n        }\n      ]\n    }\n  ]\n}\n\nadd a different schema for how much token you used",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2576,
        512
      ],
      "id": "bcd5b9f3-bb1e-4d05-aa8a-ce603c7256bc",
      "name": "Recommend Certification"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2592,
        720
      ],
      "id": "35ce81ae-70d0-434f-9020-e1096604d23c",
      "name": "Certification Model",
      "credentials": {
        "openAiApi": {
          "id": "NYiiRxFJrsrOU4tg",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a career roadmap planner. Using the candidate's recommended careers, skill gap analysis, and certification recommendations below, generate a complete, structured career roadmap with phased timelines (e.g. 0-3 Months, 3-6 Months, 6-12 Months) to help the candidate advance into their top recommended career.\n\nGap analysis:\n{{ $('Gap Analysis').item.json.output }}\n\nCertification recommendations:\n{{ $json.output }}\n\nRespond with JSON only, no explanation, no markdown code fences, following this structure exactly:\n{\n  \"career_roadmap\": {\n    \"target_career\": \"Data Analyst\",\n    \"phases\": [\n      {\n        \"phase\": \"0-3 Months\",\n        \"goals\": [\"Learn SQL fundamentals\", \"Build a data visualization portfolio project\"],\n        \"certifications\": [\"Google Data Analytics - SQL for Data Analysis\"],\n        \"milestones\": [\"Complete SQL certification\", \"Publish 1 portfolio project\"]\n      },\n      {\n        \"phase\": \"3-6 Months\",\n        \"goals\": [\"\"],\n        \"certifications\": [\"\"],\n        \"milestones\": [\"\"]\n      },\n      {\n        \"phase\": \"6-12 Months\",\n        \"goals\": [\"\"],\n        \"certifications\": [\"\"],\n        \"milestones\": [\"\"]\n      }\n    ],\n    \"summary\": \"Short overall summary of the roadmap and expected outcome\"\n  }\n}\n\nadd a different schema for how much token you used",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2864,
        512
      ],
      "id": "7cbcc0d4-d7eb-49bf-af60-a88b2c0a3958",
      "name": "Career Roadmap Generator"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2912,
        720
      ],
      "id": "3f8b2380-41f3-4eb3-be85-52d14628c8c1",
      "name": "Roadmap Model",
      "credentials": {
        "openAiApi": {
          "id": "NYiiRxFJrsrOU4tg",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1936,
        704
      ],
      "id": "69cc2570-9117-4d49-9c5c-82bc09acebe7",
      "name": "Career Path Model",
      "credentials": {
        "openAiApi": {
          "id": "NYiiRxFJrsrOU4tg",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## How much token does each agent use????",
        "height": 432,
        "width": 1760,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1840,
        928
      ],
      "typeVersion": 1,
      "id": "ed077867-79bf-47bc-88ce-79570b95379b",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a91c86ae-6912-4643-8007-f70a9eab82d7",
              "name": "Token Usage",
              "value": "={{ $json.token_usage.total_tokens }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2368,
        976
      ],
      "id": "de315249-6e1f-47fa-a379-b1e2a63b5d5a",
      "name": "AICareerPath Token"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 1. Get the raw text string from the AI Agent output\nlet rawText = $json.output || \"\";\n\n// 2. Clean out the ```json and ``` markdown backticks\nlet cleanText = rawText.replace(/^```json\\s*/i, \"\").replace(/\\s*```$/, \"\").trim();\n\n// 3. Parse the clean string into real JSON\nconst parsedOutput = JSON.parse(cleanText);\n\n// 4. Return ONLY the token_usage object\nreturn {\n  token_usage: parsedOutput.token_usage\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2208,
        976
      ],
      "id": "c8d3e520-745b-4dab-ac52-40f483bb4d05",
      "name": "Take Token Usage Only"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b00d2b71-0f4d-4b3d-a9ee-0bd4fad07473",
              "name": "token_usage.total_tokens",
              "value": "={{ $json.token_usage.total_tokens }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2816,
        976
      ],
      "id": "4c0c5c6a-dbe2-4f71-97df-dbc2cdbf5d93",
      "name": "AI Gap Token"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a5fe7fd3-251b-4b64-8872-106e27ab253e",
              "name": "token_usage.total_tokens",
              "value": "={{ $json.token_usage.total_tokens }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3232,
        976
      ],
      "id": "90ee511e-429c-498f-b109-1f0e9677d03d",
      "name": "AI Certi Recommendation Token"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 1. Get the raw text string from the AI Agent output\nlet rawText = $json.output || \"\";\n\n// 2. Clean out the ```json and ``` markdown backticks\nlet cleanText = rawText.replace(/^```json\\s*/i, \"\").replace(/\\s*```$/, \"\").trim();\n\n// 3. Parse the clean string into real JSON\nconst parsedOutput = JSON.parse(cleanText);\n\n// 4. Return ONLY the token_usage object\nreturn {\n  token_usage: parsedOutput.token_usage\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2608,
        976
      ],
      "id": "690b1e74-a358-4742-bac1-d3e1f35e2489",
      "name": "Taken Token Usage Only"
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the raw text string from the AI Agent output\nlet rawText = $json.output || \"\";\n\n// 2. Clean out the ```json and ``` markdown backticks\nlet cleanText = rawText.replace(/^```json\\s*/i, \"\").replace(/\\s*```$/, \"\").trim();\n\n// 3. Parse the clean string into real JSON\nconst parsedOutput = JSON.parse(cleanText);\n\n// 4. Return ONLY the token_usage object\nreturn {\n  token_usage: parsedOutput.token_usage\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3024,
        976
      ],
      "id": "6b3d191d-babb-46b7-b084-51a065e0b7b3",
      "name": "Taken Token Usage Only1"
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the raw text string from the AI Agent output\nlet rawText = $json.output || \"\";\n\n// 2. Clean out the ```json and ``` markdown backticks\nlet cleanText = rawText.replace(/^```json\\s*/i, \"\").replace(/\\s*```$/, \"\").trim();\n\n// 3. Parse the clean string into real JSON\nconst parsedOutput = JSON.parse(cleanText);\n\n// 4. Return ONLY the token_usage object\nreturn {\n  token_usage: parsedOutput.token_usage\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3632,
        976
      ],
      "id": "6c398f5a-9df1-4178-9040-548bd0ad0b03",
      "name": "Taken Token Usage Only2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f988b031-6db8-41d7-9c32-0e1effbfd56e",
              "name": "token_usage.total_tokens",
              "value": "={{ $json.token_usage.total_tokens }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3840,
        976
      ],
      "id": "f9a3dd3c-e83b-49fa-8adf-f46f0633b4ab",
      "name": "AI RoadMap Generator Token"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b93b3ba4-42d7-4899-af56-4b910378919b",
              "name": "Total Token",
              "value": "={{ Number($('AICareerPath Token').first()?.json?.['Token Usage'] ?? 0) + Number($('AI Gap Token').first()?.json?.token_usage?.total_tokens ?? 0) + Number($('AI Certi Recommendation Token').first()?.json?.token_usage?.total_tokens ?? 0) + Number($('AI RoadMap Generator Token').first()?.json?.token_usage?.total_tokens ?? 0) }}\n",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2672,
        1200
      ],
      "id": "f1630511-e2d8-4966-8bdd-6d57c0988aba",
      "name": "4&5 Total Token"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3120,
        1200
      ],
      "id": "2e3bd5c0-1714-464e-883f-c6141f8a5904",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "jobs",
          "mode": "list",
          "cachedResultName": "jobs"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        2080,
        736
      ],
      "id": "ec3468c0-2463-441b-87c9-f3dd8da4a00e",
      "name": "from table jobs",
      "credentials": {
        "mySql": {
          "id": "OMrYs9kw3nfvgWIq",
          "name": "Aiven Yusuf"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "learning_links",
          "mode": "list",
          "cachedResultName": "learning_links"
        },
        "where": {
          "values": [
            {
              "column": "category"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        2704,
        736
      ],
      "id": "da81a8db-50f8-4e4c-bdac-336f22cc5fff",
      "name": "Select Certifications from SQL",
      "credentials": {
        "mySql": {
          "id": "OMrYs9kw3nfvgWIq",
          "name": "Aiven Yusuf"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cv",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1456,
        480
      ],
      "id": "8b5635aa-c687-4e2a-a923-4484970d5a83",
      "name": "Webhook",
      "webhookId": "f8a0b132-b1c0-4c5a-98ce-733cfc9b313a"
    },
    {
      "parameters": {
        "content": "YANG HARUS DIDAPET\n{\"candidate_profile\": {\"current_role\":\"...\",\"experience_years\":0,\"key_skills\":[\"...\"]}, \"recommendations\": [{\"job_title\":\"...\",\"company_name\":\"...\",\"location\":\"...\",\"match_percentage\":0,\"matching_skills\":[\"...\"],\"missing_skills\":[\"...\"],\"advice\":\"...\"}]}",
        "height": 352,
        "width": 368,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1440,
        320
      ],
      "typeVersion": 1,
      "id": "fea6488f-c710-4658-b6ac-2242f96f7534",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "{\n  \"career_roadmap\": {\n    \"target_career\": \"Data Analyst\",\n    \"phases\": [\n      {\n        \"phase\": \"0-3 Months\",\n        \"goals\": [\"Learn SQL fundamentals\", \"Build a data visualization portfolio project\"],\n        \"certifications\": [\"Google Data Analytics - SQL for Data Analysis\"],\n        \"milestones\": [\"Complete SQL certification\", \"Publish 1 portfolio project\"]\n      },\n      {\n        \"phase\": \"3-6 Months\",\n        \"goals\": [\"\"],\n        \"certifications\": [\"\"],\n        \"milestones\": [\"\"]\n      },\n      {\n        \"phase\": \"6-12 Months\",\n        \"goals\": [\"\"],\n        \"certifications\": [\"\"],\n        \"milestones\": [\"\"]\n      }\n    ],\n    \"summary\": \"Short overall summary of the roadmap and expected outcome\"\n  }\n}",
        "height": 512,
        "width": 576,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3200,
        272
      ],
      "typeVersion": 1,
      "id": "6d2833f8-788d-4985-9c86-6b99601cbc85",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://salomo.app.n8n.cloud/webhook/job-assistant",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1664,
        480
      ],
      "id": "ae99875e-1d65-4868-93a2-73601cb7ac7d",
      "name": "GET CV matcher JSON"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2656,
        -48
      ],
      "id": "bbd90a4d-090f-4cdc-8e90-84d53db86ea8",
      "name": "CV profile"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d076883a-1c4a-40b2-befb-e7dcbfef0a02",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2640,
        144
      ],
      "id": "1bfb3b71-6836-408e-b233-162992d07b13",
      "name": "Gap"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3392,
        496
      ],
      "id": "ec8b5fd2-bcb2-4dd6-b01b-b78044819cfa",
      "name": "All JSON"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c3f2fd95-68be-4f32-8ef9-0ba49bdf242f",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2800,
        272
      ],
      "id": "7d5baad1-751b-4d05-8e3e-9612ce835078",
      "name": "Certifications"
    },
    {
      "parameters": {
        "respondWith": "json",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3648,
        512
      ],
      "id": "184a4ff3-f6c5-40d5-b497-a97e3b19b58a",
      "name": "Return ALL"
    }
  ],
  "pinData": {
    "Take Token Usage Only": [
      {
        "json": {
          "token_usage": {
            "total_tokens": 95,
            "descriptive_schema": "The total tokens used in generating the recommendations and structure."
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "AI Certi Recommendation Token": [
      {
        "json": {
          "token_usage": {
            "total_tokens": 196
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "AICareerPath Token": [
      {
        "json": {
          "Token Usage": 95
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "AI Gap Token": [
      {
        "json": {
          "token_usage": {
            "total_tokens": 197
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Taken Token Usage Only": [
      {
        "json": {
          "token_usage": {
            "total_tokens": 197,
            "descriptive_schema": "The total tokens used in generating the gap analysis."
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Taken Token Usage Only1": [
      {
        "json": {
          "token_usage": {
            "total_tokens": 196,
            "descriptive_schema": "Total tokens used in generating the certification recommendations."
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Taken Token Usage Only2": [
      {
        "json": {
          "token_usage": {
            "total_tokens": 181,
            "descriptive_schema": "Total tokens used in generating the career roadmap."
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "AI RoadMap Generator Token": [
      {
        "json": {
          "token_usage": {
            "total_tokens": 181
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Career Path Classification": [
      {
        "json": {
          "output": "```json\n{\n  \"recommended_careers\": [\n    {\n      \"career\": \"Data Analyst\",\n      \"confidence\": 90,\n      \"reasons\": \"Strong demand for data analysis skills, Python expertise aids in data manipulation.\"\n    },\n    {\n      \"career\": \"Business Intelligence Analyst\",\n      \"confidence\": 85,\n      \"reasons\": \"Utilizes Python for data visualization and reporting, suitable for candidates with analytical skills.\"\n    },\n    {\n      \"career\": \"Python Developer\",\n      \"confidence\": 80,\n      \"reasons\": \"Existing experience in Python development, potential for growth in software development roles.\"\n    },\n    {\n      \"career\": \"Machine Learning Engineer\",\n      \"confidence\": 75,\n      \"reasons\": \"Growing field requiring Python, can build on existing skills with targeted learning.\"\n    },\n    {\n      \"career\": \"Data Engineer\",\n      \"confidence\": 70,\n      \"reasons\": \"Requires Python for ETL processes; Andy's skills align with data handling and integration tasks.\"\n    }\n  ],\n  \"token_usage\": {\n    \"estimated_tokens\": 150\n  }\n}\n```"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Gap Analysis": [
      {
        "json": {
          "output": "{\n  \"careers\": [\n    {\n      \"career\": \"Data Analyst\",\n      \"required_skills\": [\"SQL\", \"Data Visualization\", \"Statistical Analysis\", \"Excel\"],\n      \"existing_skills\": [\"Python\"],\n      \"missing_skills\": [\n        {\"skill\": \"SQL\", \"priority\": \"High\"},\n        {\"skill\": \"Data Visualization\", \"priority\": \"Medium\"},\n        {\"skill\": \"Statistical Analysis\", \"priority\": \"Medium\"},\n        {\"skill\": \"Excel\", \"priority\": \"Low\"}\n      ]\n    },\n    {\n      \"career\": \"Business Intelligence Analyst\",\n      \"required_skills\": [\"SQL\", \"Data Visualization\", \"Business Acumen\", \"Reporting Tools\"],\n      \"existing_skills\": [\"Python\"],\n      \"missing_skills\": [\n        {\"skill\": \"SQL\", \"priority\": \"High\"},\n        {\"skill\": \"Data Visualization\", \"priority\": \"Medium\"},\n        {\"skill\": \"Business Acumen\", \"priority\": \"Medium\"},\n        {\"skill\": \"Reporting Tools\", \"priority\": \"Low\"}\n      ]\n    },\n    {\n      \"career\": \"Python Developer\",\n      \"required_skills\": [\"Web Development\", \"Frameworks (e.g., Django, Flask)\", \"Version Control (e.g., Git)\"],\n      \"existing_skills\": [\"Python\"],\n      \"missing_skills\": [\n        {\"skill\": \"Web Development\", \"priority\": \"High\"},\n        {\"skill\": \"Frameworks\", \"priority\": \"Medium\"},\n        {\"skill\": \"Version Control\", \"priority\": \"Low\"}\n      ]\n    },\n    {\n      \"career\": \"Machine Learning Engineer\",\n      \"required_skills\": [\"Machine Learning Algorithms\", \"Data Preprocessing\", \"Model Evaluation\", \"TensorFlow/PyTorch\"],\n      \"existing_skills\": [\"Python\"],\n      \"missing_skills\": [\n        {\"skill\": \"Machine Learning Algorithms\", \"priority\": \"High\"},\n        {\"skill\": \"Data Preprocessing\", \"priority\": \"Medium\"},\n        {\"skill\": \"Model Evaluation\", \"priority\": \"Medium\"},\n        {\"skill\": \"TensorFlow/PyTorch\", \"priority\": \"Low\"}\n      ]\n    },\n    {\n      \"career\": \"Data Engineer\",\n      \"required_skills\": [\"ETL Processes\", \"Data Warehousing\", \"SQL\", \"Cloud Technologies\"],\n      \"existing_skills\": [\"Python\"],\n      \"missing_skills\": [\n        {\"skill\": \"ETL Processes\", \"priority\": \"High\"},\n        {\"skill\": \"Data Warehousing\", \"priority\": \"Medium\"},\n        {\"skill\": \"SQL\", \"priority\": \"High\"},\n        {\"skill\": \"Cloud Technologies\", \"priority\": \"Low\"}\n      ]\n    }\n  ],\n  \"token_usage\": {\n    \"estimated_tokens\": 150\n  }\n}"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Recommend Certification": [
      {
        "json": {
          "output": "{\n  \"recommendations\": [\n    {\n      \"skill\": \"SQL\",\n      \"priority\": \"High\",\n      \"courses\": [\n        {\n          \"title\": \"Google Data Analytics Professional Certificate\",\n          \"provider\": \"Google\",\n          \"url\": \"https://www.coursera.org/professional-certificates/google-data-analytics\",\n          \"free\": false,\n          \"source\": \"external\"\n        }\n      ]\n    },\n    {\n      \"skill\": \"ETL Processes\",\n      \"priority\": \"High\",\n      \"courses\": [\n        {\n          \"title\": \"ETL and Data Warehousing with Talend\",\n          \"provider\": \"Coursera\",\n          \"url\": \"https://www.coursera.org/learn/etl-data-warehousing-talend\",\n          \"free\": false,\n          \"source\": \"external\"\n        }\n      ]\n    },\n    {\n      \"skill\": \"Machine Learning Algorithms\",\n      \"priority\": \"High\",\n      \"courses\": [\n        {\n          \"title\": \"Machine Learning\",\n          \"provider\": \"Coursera\",\n          \"url\": \"https://www.coursera.org/learn/machine-learning\",\n          \"free\": false,\n          \"source\": \"external\"\n        }\n      ]\n    }\n  ]\n},\n{\n  \"token_usage\": {\n    \"estimated_tokens\": 150\n  }\n}"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Career Path Classification": {
      "main": [
        [
          {
            "node": "Gap Analysis",
            "type": "main",
            "index": 0
          },
          {
            "node": "Take Token Usage Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gap Analysis Model": {
      "ai_languageModel": [
        [
          {
            "node": "Gap Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gap Analysis": {
      "main": [
        [
          {
            "node": "Recommend Certification",
            "type": "main",
            "index": 0
          },
          {
            "node": "Taken Token Usage Only",
            "type": "main",
            "index": 0
          },
          {
            "node": "Career Roadmap Generator",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Certification Model": {
      "ai_languageModel": [
        [
          {
            "node": "Recommend Certification",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Recommend Certification": {
      "main": [
        [
          {
            "node": "Career Roadmap Generator",
            "type": "main",
            "index": 0
          },
          {
            "node": "Taken Token Usage Only1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Certifications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Roadmap Model": {
      "ai_languageModel": [
        [
          {
            "node": "Career Roadmap Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Career Path Model": {
      "ai_languageModel": [
        [
          {
            "node": "Career Path Classification",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AICareerPath Token": {
      "main": [
        [
          {
            "node": "4&5 Total Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Take Token Usage Only": {
      "main": [
        [
          {
            "node": "AICareerPath Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Gap Token": {
      "main": [
        [
          {
            "node": "4&5 Total Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Career Roadmap Generator": {
      "main": [
        [
          {
            "node": "Taken Token Usage Only2",
            "type": "main",
            "index": 0
          },
          {
            "node": "All JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Certi Recommendation Token": {
      "main": [
        [
          {
            "node": "4&5 Total Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Taken Token Usage Only": {
      "main": [
        [
          {
            "node": "AI Gap Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Taken Token Usage Only1": {
      "main": [
        [
          {
            "node": "AI Certi Recommendation Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Taken Token Usage Only2": {
      "main": [
        [
          {
            "node": "AI RoadMap Generator Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI RoadMap Generator Token": {
      "main": [
        [
          {
            "node": "4&5 Total Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4&5 Total Token": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "from table jobs": {
      "ai_tool": [
        [
          {
            "node": "Career Path Classification",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Select Certifications from SQL": {
      "ai_tool": [
        [
          {
            "node": "Recommend Certification",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "GET CV matcher JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET CV matcher JSON": {
      "main": [
        [
          {
            "node": "Career Path Classification",
            "type": "main",
            "index": 0
          },
          {
            "node": "CV profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CV profile": {
      "main": [
        [
          {
            "node": "All JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gap": {
      "main": [
        [
          {
            "node": "All JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All JSON": {
      "main": [
        [
          {
            "node": "Return ALL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Certifications": {
      "main": [
        [
          {
            "node": "All JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return ALL": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "e72149b6-0b96-4888-83fa-74e343d58013",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c2d191aa5a7765d167f54affc1e1841d88547fed12ee32eae8a4c95363c5fb72"
  },
  "id": "JRsBFds2qkHJBN3q",
  "tags": []
}