n8n/6-interview.json
{
  "name": "inter",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "data",
              "type": "object"
            }
          ]
        }
      },
      "id": "4cdb9be6-b031-45c0-8f39-e1988e433753",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -496,
        272
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.action }}",
                    "rightValue": "start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.action }}",
                    "rightValue": "answer",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.action }}",
                    "rightValue": "assess",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "3fb15ef6-5472-4196-a4ce-aa2547bef4c8",
      "name": "Route by Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -256,
        272
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT job_title, company_name, job_description FROM jobs WHERE job_id = '{{ $json.data.job_id }}' LIMIT 1;",
        "options": {}
      },
      "id": "46edc26d-3fa0-4107-be2b-04e11c568cdf",
      "name": "Get Job (start)",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        0,
        0
      ],
      "credentials": {
        "mySql": {
          "id": "OMrYs9kw3nfvgWIq",
          "name": "Aiven Yusuf"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Lowongan:\nPosisi: {{ $json.job_title }}\nPerusahaan: {{ $json.company_name }}\nDeskripsi:\n{{ $json.job_description }}\n\nCV Kandidat:\n{{ $('Execute Workflow Trigger').item.json.data.cv_text }}",
        "options": {
          "systemMessage": "Kamu perancang wawancara profesional. Berdasarkan CV kandidat dan deskripsi lowongan, susun rencana wawancara berupa 4-6 POIN INTI (kompetensi/topik) paling penting untuk menilai kandidat pada lowongan ini. Entry-level cukup 4 poin; mid/senior 5-6 poin. Urutkan mulai dari pembuka yang wajar. Buat juga profil ringkas kandidat, lalu pertanyaan PERTAMA untuk poin ke-1 dengan nada hangat dan manusiawi (boleh menyapa nama).\n\nKembalikan HANYA JSON valid, tanpa teks lain, tanpa markdown fence:\n{\"cv_profile\":{\"current_role\":\"...\",\"experience_years\":0,\"key_skills\":[\"...\"]},\"plan\":[{\"index\":1,\"point\":\"...\",\"category\":\"technical\"}],\"total_points\":5,\"current_point_index\":1,\"question\":\"...\",\"category\":\"technical\"}\n\nWAJIB: bila CV memuat KLAIM KUANTITATIF (mis. 'akurasi 84%', 'naik 12%', 'hemat 60%'), sisipkan minimal SATU poin inti khusus untuk MEMVERIFIKASI klaim tersebut -- menguji bagaimana angka itu diukur, dicapai, dan apa kontribusi nyata kandidat. Jangan menerima angka di CV begitu saja.\n\nPOIN HARUS BERAKAR PADA HAL KONKRET, bukan generik: turunkan dari (a) klaim, angka, dan teknologi SPESIFIK yang tertulis di CV, dan (b) syarat kunci pada deskripsi lowongan. Prioritaskan area yang paling menentukan kesuksesan di posisi ini -- termasuk kedalaman teknis yang diklaim CV (mis. SQL lanjutan, statistik, forecasting) bila relevan dengan lowongan."
        }
      },
      "id": "40ad6319-0035-41eb-b3ee-417b698dbbc6",
      "name": "Planner Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "ba6ec7dc-5466-425a-a26c-7a638654d404",
      "name": "Planner Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        240,
        160
      ],
      "credentials": {
        "openAiApi": {
          "id": "NYiiRxFJrsrOU4tg",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function parse(raw){try{return JSON.parse(String(raw).replace(/```json/gi,'').replace(/```/g,'').trim());}catch(e){const m=String(raw).match(/\\{[\\s\\S]*\\}/);if(m){try{return JSON.parse(m[0]);}catch(e2){}}return null;}}\nlet p = parse($input.first().json.output ?? $input.first().json.text ?? '');\nif(!p) p = { error: '⚠️ Gagal menyusun rencana wawancara, coba lagi.' };\nif(p.plan && !p.total_points) p.total_points = p.plan.length;\nif(!p.current_point_index) p.current_point_index = 1;\nreturn [{ json: p }];"
      },
      "id": "23950535-1fed-4027-af43-9d3262c1539f",
      "name": "Parse Planner",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT job_title, company_name, job_description FROM jobs WHERE job_id = '{{ $json.data.job_id }}' LIMIT 1;",
        "options": {}
      },
      "id": "daf81808-1a46-4a00-b944-c7a8d39603bf",
      "name": "Get Job (answer)",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        0,
        272
      ],
      "credentials": {
        "mySql": {
          "id": "OMrYs9kw3nfvgWIq",
          "name": "Aiven Yusuf"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Rencana poin inti:\n{{ JSON.stringify($('Execute Workflow Trigger').item.json.data.plan) }}\n\nSedang menilai POIN ke-{{ $('Execute Workflow Trigger').item.json.data.current_point_index }}.\n\nRiwayat Tanya-Jawab:\n{{ JSON.stringify($('Execute Workflow Trigger').item.json.data.history) }}",
        "options": {
          "systemMessage": "Kamu penilai wawancara yang KETAT. Nilai apakah POIN INTI yang sedang dibahas sudah cukup terjawab, berdasarkan riwayat tanya-jawab pada poin tersebut (item history punya field point_index).\n\nPoin CUKUP (point_satisfied: true) HANYA bila kandidat memberi BUKTI KONKRET — minimal salah satu:\n- contoh nyata dari pengalaman (bukan teori/normatif)\n- angka/metrik spesifik, atau nama tools/teknik yang jelas\n- keputusan teknis beserta alasan atau trade-off-nya\n- hasil/dampak yang dapat diverifikasi\n\nPoin BELUM cukup (point_satisfied: false) bila jawaban:\n- umum/normatif/textbook (\"pakai best practice\", \"tergantung kebutuhan\")\n- menyebut klaim atau angka TANPA menjelaskan cara mencapainya\n- hanya mengulang isi CV tanpa kedalaman\n- mengelak atau tidak menjawab inti pertanyaan\n\nJANGAN mudah puas: satu jawaban permukaan TIDAK cukup meski terdengar meyakinkan.\n\nKembalikan HANYA JSON valid:\n{\"point_satisfied\": false, \"reason\": \"...\", \"gap\": \"hal spesifik yang masih perlu digali dari kandidat\"}"
        }
      },
      "id": "602d4567-3480-4edd-9fa3-1d14de6d7cdd",
      "name": "Monitor Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        240,
        272
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "dca3bba6-d1a1-4b05-89f0-b2351e62708c",
      "name": "Monitor Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        240,
        432
      ],
      "credentials": {
        "openAiApi": {
          "id": "NYiiRxFJrsrOU4tg",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function parse(raw){try{return JSON.parse(String(raw).replace(/```json/gi,'').replace(/```/g,'').trim());}catch(e){const m=String(raw).match(/\\{[\\s\\S]*\\}/);if(m){try{return JSON.parse(m[0]);}catch(e2){}}return null;}}\nconst t = $('Execute Workflow Trigger').first().json.data;\n// Monitor adalah AI Agent -> outputnya { output: \"<string JSON>\" }.\n// Wajib di-parse; membaca point_satisfied langsung selalu undefined.\nconst rawMon = $input.first().json;\nconst mon = parse(rawMon.output ?? rawMon.text ?? '') || rawMon;\nconst satisfied = mon.point_satisfied === true;\nconst K = Number(t.total_points) || (t.plan ? t.plan.length : 0);\nlet idx = Number(t.current_point_index) || 1;\nlet qc = Number(t.point_qcount) || 1;\nconst CAP = 5;\nlet done = false;\nif (satisfied || qc >= CAP) { idx = idx + 1; qc = 1; if (idx > K) done = true; }\nelse { qc = qc + 1; }\nconst target = (!done && t.plan && t.plan[idx-1]) ? t.plan[idx-1] : null;\nreturn [{ json: { done, current_point_index: idx, point_qcount: qc,\n  point_satisfied: satisfied, satisfied_reason: mon.reason || '',\n  monitor_gap: mon.gap || '',\n  total_points: K, target_point: target } }];"
      },
      "id": "bd7e53f5-76dd-414c-b169-d3543414dbc2",
      "name": "Decide",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        272
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "08a2a01a-c136-4ca0-b308-946384a991e6",
              "leftValue": "={{ $json.done }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "be1d8fe3-9150-42d2-abc3-4e2efa17a3bc",
      "name": "IF Done",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        240
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Poin inti yang dituju sekarang:\n{{ JSON.stringify($('Decide').item.json.target_point) }}\n\nIni pertanyaan ke-{{ $('Decide').item.json.point_qcount }} pada poin ini.\n(1 = pertanyaan pembuka poin; lebih dari 1 = FOLLOW-UP, wajib menggali lebih dalam)\n\nYang menurut penilai MASIH KURANG dari jawaban kandidat:\n{{ $('Decide').item.json.monitor_gap }}\n\nDeskripsi lowongan:\n{{ $('Get Job (answer)').item.json.job_description }}\n\nJawaban TERAKHIR kandidat:\n{{ JSON.stringify(($('Execute Workflow Trigger').item.json.data.history).slice(-1).map(h => ({question: h.question, answer: h.answer}))) }}\n\nPertanyaan yang SUDAH diajukan pada poin ini (JANGAN diulang / diparafrase):\n{{ JSON.stringify(($('Execute Workflow Trigger').item.json.data.history).filter(h => h.point_index === $('Decide').item.json.current_point_index).map(h => h.question)) }}",
        "options": {
          "systemMessage": "Kamu pewawancara profesional yang hangat dan manusiawi, BUKAN mesin penembak pertanyaan. Pertama beri TANGGAPAN singkat dan natural atas jawaban TERAKHIR kandidat -- akui hal SPESIFIK yang mereka sebutkan (hindari pujian generik seperti 'bagus'). Lalu ajukan SATU pertanyaan berikutnya.\n\nMENENTUKAN JENIS PERTANYAAN:\n- Bila ini pertanyaan ke-1 pada poin: buka poin tersebut secara wajar.\n- Bila ini FOLLOW-UP (ke-2 atau lebih): JANGAN pindah topik. WAJIB MENGGALI lebih dalam tepat pada bagian yang masih kurang (lihat 'yang masih kurang'). Cara menggali: minta contoh konkret, minta angka/metrik, tanyakan bagaimana cara mencapainya, gali keputusan teknis & trade-off-nya, atau tantang klaimnya dengan sopan.\n\nPENTING:\n- Bila kandidat menyebut ANGKA atau KLAIM HASIL, jangan telan mentah — tanyakan bagaimana diukur / bagaimana dicapai.\n- JANGAN mengulang atau memparafrase pertanyaan yang sudah diajukan pada poin ini.\n- Saat menantang klaim atau angka, HANYA kutip angka yang benar-benar muncul di JAWABAN kandidat (history) atau pada poin yang sedang dibahas. JANGAN mengimpor angka/klaim dari CV atau dari poin lain ke topik yang sedang berjalan -- itu membingungkan kandidat.\n- Variasikan gaya pembuka. Tidak setiap giliran harus diawali pujian: sesekali langsung menanggapi substansi atau menantang dengan sopan.\n- Nada percakapan, Bahasa Indonesia, ringkas dan tidak kaku.\n\nKembalikan HANYA JSON valid, tanpa teks lain, tanpa markdown fence:\n{\"reaction\":\"...\",\"question\":\"...\",\"category\":\"technical\"}"
        }
      },
      "id": "5fcb1292-2d97-4931-8b9e-3987565f7a2d",
      "name": "Questioner Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1104,
        320
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "06432534-f8aa-45e5-a30e-1be062b8b981",
      "name": "Questioner Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1104,
        480
      ],
      "credentials": {
        "openAiApi": {
          "id": "NYiiRxFJrsrOU4tg",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function parse(raw){try{return JSON.parse(String(raw).replace(/```json/gi,'').replace(/```/g,'').trim());}catch(e){const m=String(raw).match(/\\{[\\s\\S]*\\}/);if(m){try{return JSON.parse(m[0]);}catch(e2){}}return null;}}\nconst q = parse($input.first().json.output ?? $input.first().json.text ?? '') || {};\nconst d = $('Decide').first().json;\nreturn [{ json: { done:false, current_point_index:d.current_point_index,\n  point_qcount:d.point_qcount, point_satisfied:d.point_satisfied,\n  reaction:q.reaction||'', question:q.question||'',\n  category:q.category||(d.target_point?d.target_point.category:'technical') } }];"
      },
      "id": "0632dd6c-4e8a-4928-a048-21d2c171c066",
      "name": "Parse Question",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $('Decide').first().json;\nreturn [{ json: { done:true, current_point_index:d.current_point_index,\n  total_points:d.total_points } }];"
      },
      "id": "620c4de6-8250-4c05-9890-d4e94bd64ccd",
      "name": "Parse Done",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        144
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT job_title, company_name, job_description FROM jobs WHERE job_id = '{{ $json.data.job_id }}' LIMIT 1;",
        "options": {}
      },
      "id": "8219ea2b-0065-47e4-82f3-49f531d13b53",
      "name": "Get Job (assess)",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        0,
        544
      ],
      "credentials": {
        "mySql": {
          "id": "OMrYs9kw3nfvgWIq",
          "name": "Aiven Yusuf"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Lowongan:\nPosisi: {{ $json.job_title }}\nDeskripsi:\n{{ $json.job_description }}\n\nProfil Kandidat (CV):\n{{ JSON.stringify($('Execute Workflow Trigger').item.json.data.cv_profile) }}\n\nRencana poin inti (plan):\n{{ JSON.stringify($('Execute Workflow Trigger').item.json.data.plan) }}\n\nTRANSKRIP (nomor Q sudah eksplisit -- pakai persis nomor ini saat mengutip):\n{{ JSON.stringify(($('Execute Workflow Trigger').item.json.data.history || []).map((h, i) => ({\n  q: 'Q' + (i + 1),\n  point_index: h.point_index,\n  question: h.question,\n  answer: h.answer\n}))) }}",
        "options": {
          "systemMessage": "Kamu penilai wawancara (hiring assessor) yang objektif dan BERBASIS BUKTI.\nKamu menerima: deskripsi lowongan, profil CV, rencana poin inti (plan), dan TRANSKRIP penuh (history; tiap item punya point_index).\n\nATURAN WAJIB:\n\n1. BERBASIS BUKTI.\n   Setiap dimensi, kelebihan, dan kekurangan WAJIB merujuk giliran spesifik dari transkrip (mis. \"Q3: ...kutipan singkat...\"). CV adalah KLAIM, bukan bukti. Hal yang hanya tertulis di CV dan TIDAK PERNAH diuji di wawancara BUKAN kelebihan maupun kekurangan -- masukkan ke coverage.not_explored.\n\n2. JANGAN MENGHUKUM KEJUJURAN.\n   Keterbatasan yang DIAKUI SENDIRI kandidat secara reflektif (mis. \"saya tidak punya ground truth\", \"adopsi dashboard tidak saya ukur formal\") adalah SINYAL KEMATANGAN. Masukkan ke \"self_awareness\", dan NAIKKAN dimensi rigor_and_honesty -- jangan menurunkannya. Gap kemampuannya boleh tetap muncul di improvements, tetapi bingkai sebagai area pengembangan, bukan cela.\n   Bedakan tipe improvement:\n   - \"probe_gap\"  : kelemahan yang TERTANGKAP saat digali (tak bisa menjawab / dangkal)\n   - \"not_tested\" : area yang memang tidak pernah diuji dalam wawancara\n\n3. BACA SUBSTANSI, BUKAN KATA KUNCI.\n   Bila kandidat menyebut suatu topik LALU menjelaskan konsepnya dengan benar, itu BUKTI PENGUASAAN -- bukan alasan menulis \"perlu dipelajari lebih lanjut\". Kutip penjelasannya sebagai bukti. Jangan menyimpulkan dari satu kata yang lewat.\n\n4. RUBRIK -- nilai 5 dimensi, masing-masing bilangan bulat 0-10:\n   - technical_depth   : kedalaman teknis yang TERBUKTI di jawaban\n   - problem_framing   : cara merumuskan masalah, asumsi, dan pendekatan\n   - communication     : kejelasan dan struktur penyampaian\n   - rigor_and_honesty : kehati-hatian metodologis, validasi, keterbukaan atas keterbatasan\n   - impact            : dampak/hasil nyata yang dapat dipertanggungjawabkan\n   JANGAN menghitung skor total dan JANGAN menuliskan verdict. Skor akhir dan kelulusan dihitung oleh sistem dari kelima dimensi ini.\n\n5. COVERAGE (JANGAN SIRKULAR).\n   Cakupan dinilai terhadap DUA hal:\n   (a) `plan` -- poin mana yang tergali (explored) dan tidak (not_explored);\n   (b) CV + DESKRIPSI LOWONGAN -- skill, teknologi, dan klaim penting yang TIDAK PERNAH ditanyakan sama sekali (mis. Python/pandas, forecasting, statistik deskriptif, kedalaman SQL). Tulis semuanya di `untested_areas`.\n   DILARANG menyatakan cakupan lengkap hanya karena semua poin `plan` tergali -- plan dibuat oleh sistem sendiri, jadi menilainya dengan plan itu sirkular. Bila ada skill penting di CV/lowongan yang tak pernah diuji, sebutkan dengan jujur.\n\nKembalikan HANYA JSON valid, tanpa teks lain, tanpa markdown fence:\n{\n  \"dimensions\":[\n    {\"name\":\"technical_depth\",\"score\":8,\"evidence\":\"Q3: ...\"},\n    {\"name\":\"problem_framing\",\"score\":7,\"evidence\":\"...\"},\n    {\"name\":\"communication\",\"score\":9,\"evidence\":\"...\"},\n    {\"name\":\"rigor_and_honesty\",\"score\":9,\"evidence\":\"...\"},\n    {\"name\":\"impact\",\"score\":7,\"evidence\":\"...\"}\n  ],\n  \"reasons\":[\"alasan utama, tiap alasan menyebut buktinya\"],\n  \"strengths\":[{\"point\":\"...\",\"evidence\":\"Q2: ...\"}],\n  \"improvements\":[{\"point\":\"...\",\"evidence\":\"Q5: ...\",\"type\":\"probe_gap\"}],\n  \"self_awareness\":[{\"point\":\"...\",\"evidence\":\"Q6: ...\"}],\n  \"coverage\":{\"explored\":[1,2],\"not_explored\":[3,4],\"untested_areas\":[\"Python/pandas\",\"forecasting\"],\"note\":\"...\"},\n  \"per_question\":[{\"question\":\"...\",\"feedback\":\"...\",\"score\":8}]\n}\n\n6. NOMOR KUTIPAN.\n   Setiap entri transkrip SUDAH memiliki nomor `q` (Q1, Q2, ...). Saat menulis evidence, SALIN nomor itu apa adanya. JANGAN menghitung atau menebak nomor sendiri.\n"
        }
      },
      "id": "e51f7000-10c8-43dc-8a92-74ebb2e747cc",
      "name": "Assessor Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        448,
        544
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "9c4499f9-543b-40de-8faa-7be7a346b154",
      "name": "Assessor Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        448,
        704
      ],
      "credentials": {
        "openAiApi": {
          "id": "NYiiRxFJrsrOU4tg",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function parse(raw){try{return JSON.parse(String(raw).replace(/```json/gi,'').replace(/```/g,'').trim());}catch(e){const m=String(raw).match(/\\{[\\s\\S]*\\}/);if(m){try{return JSON.parse(m[0]);}catch(e2){}}return null;}}\n\nlet p = parse($input.first().json.output ?? $input.first().json.text ?? '');\nif(!p) return [{ json: { error: '⚠️ Format penilaian tidak valid, coba lagi.' } }];\n\n// Skor dihitung SISTEM dari rubrik, bukan ditebak LLM.\nconst dims = Array.isArray(p.dimensions) ? p.dimensions : [];\nconst vals = dims.map(d => Number(d.score))\n  .filter(n => Number.isFinite(n) && n >= 0 && n <= 10);\nconst score = vals.length\n  ? Math.round((vals.reduce((a,b) => a + b, 0) / vals.length) * 10)\n  : null;\np.score = score;\np.verdict = (score !== null && score >= 70)\n  ? 'Bisa Diterima' : 'Tidak Bisa Diterima';\n\n// Confidence dari CAKUPAN wawancara (bukan dari skor).\nconst plan = ($('Execute Workflow Trigger').first().json.data.plan) || [];\nconst cov = p.coverage || {};\nconst explored = Array.isArray(cov.explored) ? cov.explored.length : 0;\nconst notExp = Array.isArray(cov.not_explored) ? cov.not_explored.length : 0;\nconst total = plan.length || (explored + notExp) || 1;\nconst ratio = Math.max(0, Math.min(explored / total, 1));\np.coverage = Object.assign({}, cov, {\n  explored_count: explored, total_points: total,\n  ratio_pct: Math.round(ratio * 100)\n});\n// Cakupan plan saja tidak cukup: banyak skill CV/lowongan yang tak diuji\n// harus menurunkan keyakinan, supaya penilaian tidak sirkular.\nconst untested = Array.isArray(cov.untested_areas) ? cov.untested_areas : [];\nlet conf = ratio >= 0.8 ? 'high' : (ratio >= 0.5 ? 'medium' : 'low');\nif (untested.length >= 3 && conf === 'high') conf = 'medium';\nif (untested.length >= 5) conf = 'low';\np.confidence = conf;\np.coverage.untested_areas = untested;\n\np.dimensions = dims;\np.reasons = p.reasons || [];\np.strengths = p.strengths || [];\np.improvements = p.improvements || [];\np.self_awareness = p.self_awareness || [];\np.per_question = p.per_question || [];\nreturn [{ json: p }];"
      },
      "id": "098d05e7-57b2-4ec9-aa5c-618f322e7c07",
      "name": "Parse Assess",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        544
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Route by Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Action": {
      "main": [
        [
          {
            "node": "Get Job (start)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Job (answer)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Job (assess)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Job (start)": {
      "main": [
        [
          {
            "node": "Planner Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planner Model": {
      "ai_languageModel": [
        [
          {
            "node": "Planner Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Planner Agent": {
      "main": [
        [
          {
            "node": "Parse Planner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Job (answer)": {
      "main": [
        [
          {
            "node": "Monitor Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monitor Model": {
      "ai_languageModel": [
        [
          {
            "node": "Monitor Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Monitor Agent": {
      "main": [
        [
          {
            "node": "Decide",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decide": {
      "main": [
        [
          {
            "node": "IF Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Done": {
      "main": [
        [
          {
            "node": "Parse Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Questioner Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Questioner Model": {
      "ai_languageModel": [
        [
          {
            "node": "Questioner Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Questioner Agent": {
      "main": [
        [
          {
            "node": "Parse Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Job (assess)": {
      "main": [
        [
          {
            "node": "Assessor Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assessor Model": {
      "ai_languageModel": [
        [
          {
            "node": "Assessor Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Assessor Agent": {
      "main": [
        [
          {
            "node": "Parse Assess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "4dc08ace-c878-4784-b365-d775051057be",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c2d191aa5a7765d167f54affc1e1841d88547fed12ee32eae8a4c95363c5fb72"
  },
  "id": "G19GYBBnQ6ZxQad4",
  "tags": []
}